<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <style type="text/css">
    .align-items-center {
    align-items: center!important;
    }
    .d-flex {
      align-items: center!important;
    }
    .col {
      flex-basis: 0;
      flex-grow: 1;
      max-width: 100%;
    }
    .section-curriculum .timeline-item .timeline-point{
      -webkit-box-shadow: 0 0 0 6px #2d2c2c;
              box-shadow: 0 0 0 6px #2d2c2c;
    }
    @media (max-width: 768px) {
      .section-curriculum .bg-left-col {
        padding: 20px 0 60px 40px;
      }
    }
    </style>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
